<div class="container">
    <h1 class="fs-1 text-center mt-5 text-primary">
        Bienvenido a tu rincón del séptimo arte
    </h1>
    <p class="fs-5 text-center mt-5 text-primary">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse odit atque, omnis sit ratione itaque aliquam quae illum sed velit saepe rem quaerat quam laboriosam officia dolore error! Beatae, numquam!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis iste odit eaque, minus vel mollitia neque, rerum reprehenderit perspiciatis exercitationem culpa a, asperiores obcaecati earum ut consequatur ullam numquam architecto?
    </p>
    <p class="fs-5 text-center mt-5 text-primary">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse odit atque, omnis sit ratione itaque aliquam quae illum sed velit saepe rem quaerat quam laboriosam officia dolore error! Beatae, numquam!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis iste odit eaque, minus vel mollitia neque, rerum reprehenderit perspiciatis exercitationem culpa a, asperiores obcaecati earum ut consequatur ullam numquam architecto?
    </p>
</div>