<div class="container text-center">
    <h1 class="text-primary fs-1 mt-5">
        Diego Alejandro Muñoz Artundudga
    </h1>
    <h2 class="text-primary fs-3 mt-5">
        Contacto:
    </h2>
    <br>
    <a href="https://www.linkedin.com/in/diego-alejandro-mu%C3%B1oz-artunduaga-021784184/" class="text-primary fs-3 mt-5">
        LinkedIn
    </a>
    <br>
    <a href="https://github.com/Al3jox" class="text-primary fs-3 mt-5">
        Github
    </a>
    <br>
</div>
<div class="container text-center mt-5">
    <p class="text-primary fs-3 my-5">
        Correo: diego.ch.84@hotmail.com
    </p>
</div>