<div class="container">
    <div class="card mt-5 bg-primary">
        <div class="card-body">
          <h5 class="card-title text-light fs-4 text-center">Registrar Películas</h5>
          
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Nombre Película</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          
            <span class="input-group-text" id="inputGroup-sizing-default">Fecha de publicación</span>
            <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Link de imagen</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Descipción</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>

          <a class="btn btn-success">Go somewhere</a>
        </div>
      </div>
</div>